{# Override the `container` block to disable default layout. #}
{% block container %}
{% block content %}
<section class='intro'>
	{{ intro|markdown }}
</section>
<section class='maps'>
	{% for map in maps %}
		<div class='map map--{{ map.map_data }}' data-map="{{ map.map_data }}">
			<h2 class='map__label'>{{ map.label }}</h2>
			<div class='map__container'></div>
		</div>
	{% endfor %}
</section>
<section class='credits-sources'>
	{{ sources|markdown }}
	{{ credits|markdown }}
</section>
{% endblock content %}
{% endblock container %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
	window.ROOT_URL = "{{ ROOT_URL }}";

  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];    
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);    
</script>
{% endblock scripts %}
